.kBPPZq {
    max-height: 90vh;
}

.dERNUB {
    max-height: 95vh;
}

.Pz2OXOH {
    display: none;
}

.sc-LzMgF {
    display: none;
}

.iYkjNy {
    display: none;
}

.eSwYtm {
    margin-top: 0px !important;
}

.hGqSvd {
    padding: 0px 0px !important;
	height: 0px !important;
}

.gHkhk {
    max-width: 100% !important;
    padding: 0px 0px !important;
}

.xrFrX {
    width: 87% !important;
}

.dERNUB {
    height: 100% !important;
    max-height: 95vh !important;
    all: initial;
}

.gRSElv {
    display: none;
}

nav.KuOkS {
    flex-direction: column !important;
}

.bnPLsT {
    flex-flow: column;
}

.jSpcbi {
    display: none;
}

.eXzlnr {
    width: 150px !important;
    margin-left: 0px !important;
}

.sc-AxhCb {
    width: 100% !important;
}

.sc-qWQHW {
    display: none;
}

.cGJSKi {
    background: transparent !important;
}

.mnmQR {
    border-radius: 0px 0px 0px 0px !important;
}

.XSTjg {
    display: none;
}